autopep8==1.6.0
black==22.6.0
Brotli==1.0.9
click==8.1.3
dash==2.4.1
dash-bootstrap-components==1.2.1
dash-bootstrap-templates==1.0.6
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
et-xmlfile==1.1.0
Flask==2.1.2
Flask-Compress==1.12
geographiclib==1.52
geopy==2.2.0
importlib-metadata==4.11.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
mypy-extensions==0.4.3
numpy==1.22.4
openpyxl==3.0.10
pandas==1.4.2
pathspec==0.9.0
platformdirs==2.5.2
plotly==5.8.0
pycodestyle==2.8.0
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
six==1.16.0
tenacity==8.0.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.3.0
uWSGI==2.0.20
Werkzeug==2.1.2
zipp==3.8.0
