@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: 'Lora', serif;
}

button, label, .select-text, .rc-slider-mark-text, .card-text, .tooltip, .Select-control {
  font-family: 'Roboto', sans-serif;
}

.mdi-text {
  font-family: 'Lora', serif;
  font-size: 1.18rem;
  line-height: 2.1rem !important;
}


.Select--multi > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
}

#year-slider {
    padding: 0px 10px 25px !important;
    font-family: 'Roboto', sans-serif;
}

.btn-outline-primary {
    color: #0075BB;
    border-color: #0075BB;
}

.btn-outline-primary:hover {
    background-color: #0075BB;
    border-color: #0075BB;
}

.rc-slider-track {
    background-color: #0075BB;
  }
  
  .rc-slider-dot-active {  
    border-color: #0075BB;
    border: solid 2px #0075BB;
  }
  
  .rc-slider-handle {
    background-color: #0075BB;
    border-color: #0075BB;
  }
  
  .rc-slider-handle:hover {
    border-color: #0075BB;
  }
  
  .rc-slider-handle-active:active {
    border-color: #0075BB;
  }

  .form-check-input:checked {
    background-color: #795548;
    border-color: #795548;
  }

  #country-filter .Select.dcc_control.is-open {
    max-height: 100%;
    overflow-y:visible;
    z-index: 2
  }

  #country-filter .Select.dcc_control {
      max-height: 29rem;
      overflow-y:auto;
  }