@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto Slab', serif;
}

.Select--multi > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
}

#year-slider {
    padding: 0px 10px 25px !important;
}

.btn-outline-primary {
    color: #0075BB;
    border-color: #0075BB;
}

.btn-outline-primary:hover {
    background-color: #0075BB;
    border-color: #0075BB;
}

.rc-slider-track {
    background-color: #0075BB;
  }
  
  .rc-slider-dot-active {  
    border-color: #0075BB;
    border: solid 2px #0075BB;
  }
  
  .rc-slider-handle {
    background-color: #0075BB;
    border-color: #0075BB;
  }
  
  .rc-slider-handle:hover {
    border-color: #0075BB;
  }
  
  .rc-slider-handle-active:active {
    border-color: #0075BB;
  }

  .form-check-input:checked {
    background-color: #795548;
    border-color: #795548;
  }